/* Área de Cabeçalho */
.cabecalhoPrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/* Área de Cabeçalho - Mobile */

@media(max-width: 768px){
    .cabecalhoPrincipal .container {
        align-items: initial;
        flex-direction: column;
        text-align: center;
    }
    
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1
    }
}

/* Área da Seção Principal */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    margin: 1%;
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-right: 0;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    flex-direction: column;
    flex-grow: 2;
    display: flex;
    text-align: center;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

/* Área da Seção Principal - Mobile */
@media(max-width: 768px) {
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        margin: 0 auto;
    }
}

/* Área do Rodapé */

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 16rem;
    /* flex-direction: column;
    flex-wrap: wrap; */
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    width: 70%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/* Área do Rodapé - Mobile  */
@media(max-width: 768px) {
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    
    .rodapePrincipal-patrocinadores .container {
        align-items: center;
        flex-direction: column;
    }
    
    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}
